button
{
    cursor: pointer;
}

.button
{
    background-color: #7B55C8;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF;
    padding: 4px 15px;
    border-radius: 4px;
    border: 1px solid #7B55C8;
    transition: all .33s ease-in-out;
    cursor: pointer;
    
    &:hover
    {
        background-color: #473173;
    }
}