.title
{
    &.title-page
    {
        line-height: 40px;
        font-size: 28px;
        color: #6E3FC3;
        font-weight: 700;
    }

    &.title-form
    {
        font-size: 20px;
        color: #6E3FC3;
        line-height: 40px;
        text-align: center;
    }
}